<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards Page</title>
    <link href="https://css.gg/css" rel="stylesheet" />
    <script src="/js/uikit.min.js"></script>
    <link rel="stylesheet" href="/css/uikit.min.css">
    <script src="/js/uikit-icons.js"></script>
</head>

<body>

   
        <%- include('navbar') %>
   


    <div class="uk-background-muted uk-height-large" >
        <div class="uk-card uk-card-default uk-card-body" >

            <div class="uk-margin uk-width-1-5">
                <form class="uk-search uk-search-default">
                    <span uk-search-icon></span>
                    <input class="uk-search-input" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>

            <div class="uk-margin uk-width-1-5">
                <label class="uk-form-label" for="form-horizontal-select">Select</label>
                <div class="uk-form-controls">
                    <select class="uk-select" id="form-horizontal-select">
                        <option>Option 01</option>
                        <option>Option 02</option>
                    </select>
                </div>
            </div>

        </div>


        <div class="uk-background-muted">

            <div class="uk-grid uk-margin-large-left uk-margin-large-right" uk-grid>
                <ul class="uk-thumbnav uk-flex-center uk-child-width-1-5@m uk-child-width-1-3@s" uk-margin
                    id="cardList">

                    <% for (let i=0; i < 30 && i < cards_data.length; i++) { %>
                        <% if (cards_data[i].image) { %>
                            <li>
                                <a href="cardinfo">
                                    <img src="<%= cards_data[i].image %>/low.webp"
                                        alt="<%= cards_data[i].name %> Image">
                                </a>
                            </li>
                            <% } %>
                                <% } %>
                </ul>
            </div>

            <button id="loadMoreBtn"
                class="uk-button uk-button-large uk-button-default uk-width-1-2 uk-margin-medium-top uk-align-center"
                uk-margin>Load
                More</button>

        </div>
    </div>



    <!-- to load more cards-->

    <script>
        const allCardsData = <% - JSON.stringify(cards_data) %>;
    </script>


    <script>

        document.getElementById('loadMoreBtn').addEventListener('click', function () {

            const currentCount = document.querySelectorAll('#cardList li').length;

            const startIndex = currentCount;
            const endIndex = startIndex + 30;

            if (startIndex >= allCardsData.length) {
                console.log('All cards have been displayed.');
                return;
            }

            const additionalCards = allCardsData.slice(startIndex, endIndex);

            appendCards(additionalCards);
        });

        function appendCards(cards) {
            const cardList = document.getElementById('cardList');
            cards.forEach(card => {
                if (card.image) {
                    const li = document.createElement('li');
                    const a = document.createElement('a');
                    const img = document.createElement('img');
                    img.src = card.image + '/low.webp';
                    img.alt = card.name + ' Image';
                    a.href = 'cardinfo';
                    a.appendChild(img);
                    li.appendChild(a);
                    cardList.appendChild(li);
                }
            });
        }


    </script>
    <div id="error" class="uk-hidden">Error fetching card data</div>




</body>

</html>