<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link href="https://css.gg/css" rel="stylesheet" />
    <script src="/js/uikit.min.js"></script>
    <link rel="stylesheet" href="/css/uikit.min.css">
    <script src="/js/uikit-icons.js"></script>
</head>
</head>

<body>
    <%- include('navbar') %>

        <div class="uk-child-width-1-2@s"></div>

        <div class="uk-flex uk-flex-center  uk-flex-middle uk-height-viewport">
            <div class="uk-card uk-card-default uk-card-large uk-card-body uk-container uk-flex-column">
                <h3 class="uk-card-title">Create Account</h3>


                <div class="uk-flex-column">
                    <div class="uk-margin uk-inline ">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input" type="text" placeholder="username" aria-label="Not clickable icon">
                    </div>
                </div>

                <div class="uk-flex-column">
                    <div class="uk-margin uk-inline uk-flex-column">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input" type="password" placeholder="create password" aria-label="Not clickable icon">
                    </div>
                </div>

                <div class="uk-flex-column">
                    <div class="uk-margin uk-inline uk-flex-column">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input" type="password" placeholder="re-enter password" aria-label="Not clickable icon">
                    </div>
                </div>

                <div class="uk-margin">
                    <button class="uk-button uk-button-primary">Enter</button>
                </div>

                <div>
                    <h6>Already have an account?<small> Login<a href="login"> here</a></small></h6>

                </div>

            </div>
        </div>
</body>

</html>