<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="https://css.gg/css" rel="stylesheet" />
    <script src="/js/uikit.min.js"></script>
    <link rel="stylesheet" href="/css/uikit.min.css">
    <script src="/js/uikit-icons.js"></script>
</head>

<body>

    <%- include('navbar') %>


    <div class="uk-section uk-section-default">
        <div class="uk-container">
    
            <h3>TCG Cove is a manager for your Pokémon TCG Collection</h3>
    
            <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                <div>
                    <p>Browse through card collection with filters on card type, rarity, energy tyoe and more.</p>
                </div>
                <div>
                    <p>Browse card collection based on series and their respective sets.</p>
                </div>
                <div>
                    <p>Organise your card collection through dashboard with adding to wishlist, and adding to collection, specifying Normal or Reverse Holo. </p>
                </div>
            </div>
    
        </div>
    </div>
    <div class="uk-section uk-section-muted">
        <div class="uk-container">
    
            <h3>Interact with other users</h3>
    
            <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                <div>
                    <p>View other users' collections as a member.</p>
                </div>
                <div>
                    <p>Heart other users' collection.</p>
                </div>
            </div>
    
        </div>
    </div>
    <div class="uk-section uk-section-secondary uk-light">
        <div class="uk-container">
    
            <h3>Starting managing your Pokémon Trading Card Game here!</h3>
    
            <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                <div>
                    <a href="/signup" class="uk-link-muted">Create an account now</a>
                </div>
                <div>
                    <span>Already a user? <a href="/login" class="uk-link-muted">Proceed to login</a></span>
                </div>
                
            </div>
    
        </div>
    </div>

    <%- include('footer') %>
</body>


</html>